@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    color: white;
    background-color: rgb(18, 16, 16);
}

h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
}

.navlist {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

.navlist ul {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.navitem a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navitem a:hover {
    text-decoration: underline;
}

#inicio {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.inicio-apresentacao-imagem {
    width: 45vw;
    height: 100vh;
}


.inicio-apresentacao-text {
    width: 55vw;
    font-size: 40px;
    margin: 40vh 0 0 12vw;
}


.inicio-apresentacao-logo {
    width: 450px;
}


.inicio-apresentacao-text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-left: 2vw;

}

#trabalho-title {
    margin-top: 20vh;
    text-align: center;
}

.trabalho-trabalhos {
    display: grid;
    margin: 8vh 0 0 18vw;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.trabalho-trabalhos-trabalho {
    border-color: white;
    filter: brightness(100%);
    width: 100px;
}

.trabalho-trabalhos-trabalho:hover {
    filter: brightness(110%);
}
